#cloud-config
########################################
## Sets user name, password, and ssh key
########################################
hostname: {{ item }}
users:
  - name: {{ ubuntu_user }}
    plain_text_passwd: {{ ubuntu_pass }}
    lock_passwd: false
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    ssh-authorized-keys:
      - {{ ssh_public_key }}
